.App {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

html,
body {
	margin: 0;
	padding: 0;
	animation: fadein 1s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.swal2-confirm {
	border-radius: 50px !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.swal2-popup {
	border-radius: 50px !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	padding: 2vw !important;
}

.swal2-content,
.swal2-title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.swal2-title {
	color: #278a8d !important;
}

.swal2-confirm {
	transition: 0.4s !important;
	background-color: #01d661 !important;
}

.swal2-confirm:hover {
	transition: 0.4s !important;
}

.swal2-cancel {
	border-radius: 50px !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #278a8d !important;
}

.swal2-input {
	background: #fff !important;
	padding: 1vw !important;
	border: none !important;
	box-shadow: none !important;
	width: 20vw !important;
	border-bottom: 1px solid silver !important;
	border-radius: 5px !important;
	transition: 0.2s !important;
}

.swal2-input:focus {
	border: none !important;
	border-bottom: 2px solid #2caf67 !important;
	transition: 0.2s !important;
}

.loginContainer {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(
		109.6deg,
		rgba(96, 221, 142, 1) 11.2%,
		rgba(24, 138, 141, 1) 91.1%
	);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginCard {
	display: flex;
	flex-direction: row;
	width: 62.5vw;
	height: 34vw;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.loginCardLeftSide {
	display: flex;
	flex-direction: column;
	width: 65%;
	background-color: #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.headerDiv {
	text-align: center;
	margin-top: 2.6vw;
}

.headerDiv h1 {
	color: #33be77;
	font-weight: 900;
	font-size: 1.5vw;
}

.headerDiv hr {
	width: 3.1vw;
	height: 3px;
	border: none;
	background: #33be77;
}

.loginCardRightSide {
	background-image: linear-gradient(
		109.6deg,
		rgba(102, 203, 149, 1) 11.2%,
		rgba(39, 210, 175, 1) 98.7%
	);
	width: 35%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightHeaderDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 12px;
	font-size: 0.62vw;
	color: #fff;
	font-weight: bold;
}

.rightHeaderDiv button {
	cursor: pointer;
	margin-top: 1vw;
	border-radius: 50px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 0.79vw;
	width: 11.5vw;
	font-size: 1.05vw;
	transition: 0.4s;
}

.rightHeaderDiv button:hover {
	background: #fff;
	transition: 0.4s;
	color: #33be77;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.loginInputsDiv {
	margin-top: 2.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputLabel {
	position: relative;
	margin-right: 18.2vw;
	color: #33be77;
	font-weight: bold;
	font-size: 1vw;
}

.loginInput {
	width: 21vw;
	background: #fff;
	padding: 1vw;
	border: 1px solid silver;
	margin: 1vw;
	font-size: 1.05vw;
	border-radius: 5px;
	transition: 0.2s;
}

.loginInput:focus {
	transition: 0.2s;
	outline: none;
	border: 2px solid #33be77;
	border-radius: 5px !important;
}

.signInButton {
	border: none;
	margin-top: 2.2vw;
	cursor: pointer;
	border-radius: 50px;
	padding: 0.9vw;
	width: 11.5vw;
	font-size: 1vw;
	transition: 0.4s;
	color: #fff;
	font-weight: bold;
	background-color: #36c977;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.signInButton:hover {
	transition: 0.4s;
	background-color: #2caf67;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
}

h3 {
	margin: 0;
	margin-left: 120px;
	margin-top: -20px;
	padding: 0;
	color: #ee4b2b;
}

.homePageContainer,
.createPostContainer,
.pageNotFoundContainer,
.profilePageContainer,
.changePasswordContainer,
.postPageContainer {
	margin: 0;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	animation: fadein 1s;
	padding-bottom: 4vw;
}

.homePageContainer h1,
.createPostContainer h1,
.pageNotFoundContainer h1,
.profilePageContainer h1,
.changePasswordContainer h1,
.postPageContainer h1 {
	margin: 0;
	color: #fff;
	text-align: right;
	margin-right: 70px;
}

.navbar {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: right;
	margin: 0;
	padding: 0.2vw;
	height: 5vw;
	width: 100%;
	background-image: linear-gradient(
		109.6deg,
		rgba(96, 221, 142, 1) 11.2%,
		rgba(24, 138, 141, 1) 91.1%
	);
}

.nameAndLogout {
	margin-right: 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nameAndLogout h1 {
	font-size: 1.5vw;
}

.logoutButton {
	border: none;
	padding: 0.8vw;
	width: 8vw;
	cursor: pointer;
	border-radius: 50px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.8vw;
	font-weight: bold;
	transition: 0.4s;
	text-transform: uppercase;
}

.logoutButton:hover {
	transition: 0.4s;
	background: #fff;
	color: #278a8d;
}

.homeAndCreatePost {
	display: flex;
	right: 48vw;
	position: relative;
	align-content: space-between;
	align-items: center;
	justify-content: center;
}

.links {
	text-decoration: none !important;
	color: #fff;
	margin-right: 3vw;
	font-weight: bold;
	font-size: 1.2vw;
	transition: 0.4s;
}

.links:hover {
	transition: 0.4s;
	color: teal;
}

.homeIcon {
	color: #fff;
	font-size: 2vw !important;
}

.createPostFormDiv {
	width: 36.5vw;
	height: auto;
	padding: 4.16vw;
	margin: 0 auto;
	margin-top: 5.2vw;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
}

.createPostContainerForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 26vw;
	height: auto;
}

.createPostContainerForm label {
	margin-top: 2.6vw;
	color: #33be77;
	font-weight: bold;
	font-size: 1.05vw;
}

.createPostContainerForm #inputCreatePost {
	border: none;
	padding: 0.9vw;
	font-size: 1.05vw;
	border-bottom: 1px solid silver;
	outline: none;
	transition: 0.2s;
}

.createPostContainerForm #inputCreatePost:focus {
	border-bottom: 2px solid #2caf67;
	transition: 0.2s;
}

.createPostContainerForm button {
	margin: 0 auto;
	margin-top: 3.1vw;
	border: none;
	padding: 1.05vw;
	width: 10.4vw;
	cursor: pointer;
	border-radius: 50px;
	background-image: radial-gradient(
		circle 862px at 6% 18%,
		rgba(21, 219, 149, 1) 9.4%,
		rgba(26, 35, 160, 1) 83.6%
	);
	color: #fff;
	font-weight: bold;
	font-size: 0.78vw;
	text-transform: uppercase;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.createPostContainerForm button:hover {
	transition: 0.4s !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
	opacity: 0.8;
}

.postDiv {
	width: 26.1vw;
	height: 15.65vw;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	margin: 0 auto;
	margin-top: 3vw;
	margin-bottom: 2.6vw;
	padding: 2.65vw;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(
		109.6deg,
		rgba(102, 203, 149, 1) 11.2%,
		rgba(39, 210, 175, 1) 98.7%
	);
}

.postDiv:hover {
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.514),
		0 15px 40px rgba(148, 155, 180, 0.685);
}

.postTitle {
	flex: 10%;
	font-size: 1.55vw;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.postContent {
	font-size: 1.15vw;
	flex: 95%;
	display: grid;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.postFooter {
	flex: 20%;
	font-size: 1.05vw;
	display: flex;
	position: relative;
	flex-direction: column;
}

.postDate {
	margin-top: 1.5vw;
	display: flex;
	font-size: 1vw;
	flex-direction: row;
	justify-content: space-between;
}

.likeButton {
	position: absolute;
	right: 0.5vw;
	bottom: 0.4vw !important;
	font-size: 2.65vw !important;
	cursor: pointer;
}

.username {
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 0.55vw 1.1vw;
	font-size: 1vw;
	transition: 0.4s;
}

.username:hover {
	background-color: #fff;
	transition: 0.4s;
	color: #5dcc99;
}

.usernameLink {
	text-decoration: none;
	color: #fff;
}

.pageNotFoundContainer h2 {
	text-align: center;
	margin-top: 50px;
	color: #278a8d;
}

.pageNotFoundLinksDiv {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.pageNotFoundLinksInnerDiv {
	margin: 20px;
}

.pageNotFoundLink {
	text-decoration: none;
	font-size: 1.5vw;
	color: #33be77;
	transition: 0.2s ease-out;
	padding: 10px 30px;
}

.pageNotFoundLink:hover {
	border: 2px solid #2caf67;
	transition: 0.2s ease-out;
	border-radius: 50px;
}

.basicInfoContainer {
	margin-top: 5vw;
	color: #278a8d;
}

.basicInfoContainer h2 {
	font-size: 1.5vw;
}

.editCredentialsIcon {
	cursor: pointer !important;
	font-size: 1.5vw !important;
	margin-left: 0.5vw;
	margin-top: -0.5vw !important;
	position: absolute;
}

.changePasswordCard {
	width: 40vw;
	height: auto;
	padding: 5vw;
	margin: 0 auto;
	margin-top: 3vw;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.changePasswordCard h2 {
	color: #33be77;
	margin-top: -1vw;
	font-size: 1.25vw;
}

.changePasswordCardInnerContent {
	margin-top: 1vw;
}

.changePasswordInput {
	border: none;
	padding: 1vw;
	font-size: 1.2vw;
	border-bottom: 1px solid silver;
	outline: none;
	transition: 0.2s;
	margin: 1vw;
	color: #00ca5b;
	width: 20vw;
	text-align: center;
}

.changePasswordSubmitButton {
	margin-top: 2.5vw;
	border: none;
	padding: 1vw 3.5vw;
	font-size: 1vw;
	text-transform: uppercase;
	margin-top: 2vw;
	cursor: pointer;
	border-radius: 50px;
	font-weight: bold;
	transition: 0.4s;
	border: 1.5px solid #01d661;
	color: #01d661;
	background-color: #fff;
}

.changePasswordSubmitButton:hover {
	background: #fff;
	transition: 0.4s;
	background-color: #36c977;
	color: #fff;
	border: none;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
}

.changeUsernameDiv {
	margin-bottom: 3vw;
}

.changeUsernameInput {
	margin-top: -1vw;
}

.userPostsTitleDiv {
	margin-top: 2vw;
}

.userPostsTitleDiv h2 {
	color: #278a8d;
	font-size: 1.3vw;
}

.postCommentContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.leftSide {
	padding-top: 4vw;
}

.rightSide {
	padding-top: 4vw;
}

.addCommentContainer h2 {
	color: #33be77;
	font-size: 1.5vw;
}

.commentInput {
	border: none;
	padding: 1vw;
	font-size: 1.05vw;
	border-bottom: 1px solid silver;
	outline: none;
	transition: 0.2s;
	display: inline-block;
	margin-top: 1vw;
}

.commentInput:focus {
	border-bottom: 2px solid #2caf67;
	transition: 0.2s;
}

.addCommentButton {
	margin-top: 2.5vw;
	margin: 0 auto;
	margin-top: 3vw;
	border: none;
	padding: 1vw;
	width: 10vw;
	cursor: pointer;
	border-radius: 50px;
	background-image: radial-gradient(
		circle 862px at 6% 18%,
		rgba(21, 219, 149, 1) 9.4%,
		rgba(26, 35, 160, 1) 83.6%
	);
	color: #fff;
	font-weight: bold;
	font-size: 0.8vw;
	text-transform: uppercase;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.addCommentButton:hover {
	transition: 0.4s !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
	opacity: 0.8;
}

.commentCard {
	width: 15vw;
	height: auto;
	padding: 5vw;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	border-radius: 20px;
	margin-top: 5vw;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.commentCard:hover {
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.514),
		0 15px 40px rgba(148, 155, 180, 0.685);
	transition: 0.4s;
}

.commentContent {
	color: #00ca5b;
	margin-bottom: 2vw;
	margin-top: -2vw;
	font-size: 1.4vw;
}

.commentFooter {
	color: #278a8d;
	margin-bottom: -4vw;
	margin-left: -3vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.commentFooter span {
	font-size: 1.2vw;
}

.deleteCommentIcon {
	color: #fff !important;
	cursor: pointer !important;
	font-size: 1.5vw !important;
	position: absolute;
	margin-top: -9vw;
	background-color: #2caf67;
	padding: 0.5vw;
	border-radius: 100px;
	width: 2vw;
	height: 2vw;
	text-align: center;
	font-weight: bold;
	margin-left: 18vw;
	transition: 0.4s;
}

.deleteCommentIcon:hover {
	background-color: #06ce60;
	transition: 0.4s;
}

.commentCounterDiv label {
	position: absolute;
	right: 4.6vw;
}

.commentsIcon {
	position: absolute;
	left: 18vw;
	bottom: 0.25vw !important;
	font-size: 2.65vw !important;
	cursor: pointer;
}

.editTitleIcon {
	display: none !important;
	font-size: 1.5vw !important;
	position: relative;
	left: -1vw;
	bottom: 1vw;
}

.postTitle:hover .editTitleIcon {
	display: block !important;
}

.editContentIcon {
	display: none !important;
	position: absolute;
	font-size: 2vw !important;
	margin-top: 2vw !important;
	margin-left: 22.7vw !important;
}

.postContent:hover .editContentIcon {
	display: block !important;
}

@media only screen and (max-width: 600px) {
	.loginCard {
		display: flex;
		flex-direction: column;
		width: 78.5vw;
		height: 120vw;
		background-color: #fff;
		border-radius: 30px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	}

	.loginCardLeftSide {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 110vw;
		background-color: #fff;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}

	.headerDiv {
		text-align: center;
		margin-top: 12vw;
	}

	.headerDiv h1 {
		color: #33be77;
		font-weight: 900;
		font-size: 5.5vw;
	}

	.headerDiv hr {
		width: 12vw;
		height: 3px;
		border: none;
		background: #33be77;
	}

	.loginInputsDiv {
		margin-top: 2.6vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.inputLabel {
		position: relative;
		margin-right: 35vw;
		color: #33be77;
		font-weight: bold;
		font-size: 3vw;
	}

	.loginInput {
		width: 45vw;
		background: #fff;
		padding: 2.5vw;
		border: 1px solid silver;
		margin: 1vw;
		font-size: 3vw;
		border-radius: 5px;
		transition: 0.2s;
	}

	.loginCardRightSide {
		background-image: linear-gradient(
			109.6deg,
			rgba(102, 203, 149, 1) 11.2%,
			rgba(39, 210, 175, 1) 98.7%
		);
		width: 100%;
		height: 50vw;
		border-top-right-radius: 0;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.rightHeaderDiv {
		font-size: 2vw;
	}

	.signInButton {
		border: none;
		margin-top: 6vw;
		cursor: pointer;
		border-radius: 50px;
		padding: 2.3vw;
		width: 35vw;
		font-size: 3.2vw;
		transition: 0.4s;
		color: #fff;
		font-weight: bold;
		background-color: #36c977;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: 0.4s;
	}

	.rightHeaderDiv button {
		cursor: pointer;
		margin-top: 4vw;
		border-radius: 50px;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		padding: 2.3vw;
		width: 35vw;
		font-size: 3.2vw;
		transition: 0.4s;
	}

	.navbar {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: right;
		margin: 0;
		padding: 0;
		height: 15vw;
		width: 100%;
		background-image: linear-gradient(
			109.6deg,
			rgba(96, 221, 142, 1) 11.2%,
			rgba(24, 138, 141, 1) 91.1%
		);
	}

	.nameAndLogout {
		margin-right: 8vw;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.nameAndLogout h1 {
		font-size: 5vw;
	}

	.logoutButton {
		border: none;
		padding: 2.5vw;
		width: 22vw;
		cursor: pointer;
		border-radius: 50px;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		font-size: 2.5vw;
		font-weight: bold;
		transition: 0.4s;
		text-transform: uppercase;
	}

	.homeAndCreatePost {
		display: flex;
		right: 18vw;
		position: relative;
		align-content: space-between;
		align-items: center;
		justify-content: center;
		padding-left: 6vw;
	}

	.homeIcon {
		color: #fff;
		font-size: 10vw !important;
		margin: 3vw;
	}

	.links {
		display: none;
	}

	.homePageContainer h1,
	.createPostContainer h1,
	.pageNotFoundContainer h1,
	.profilePageContainer h1,
	.changePasswordContainer h1,
	.postPageContainer h1 {
		margin: 0;
		color: #fff;
		text-align: right;
		margin-right: 3vw;
	}

	.postDiv {
		width: 60vw;
		height: 40vw;
		margin-top: 10vw;
		margin-bottom: 2.6vw;
		padding: 8vw;
	}

	.postTitle {
		flex: 10%;
		font-size: 4.2vw;
	}

	.postContent {
		font-size: 3.5vw;
		flex: 95%;
	}

	.postFooter {
		flex: 20%;
		font-size: 3vw;
		display: flex;
		position: relative;
		flex-direction: column;
	}

	.postDate {
		margin-top: 4vw;
		font-size: 3vw;
	}

	.likeButton {
		position: absolute;
		right: 1.2vw;
		bottom: 0.4vw !important;
		font-size: 7vw !important;
		cursor: pointer;
	}

	.username {
		padding: 1vw 3vw;
		font-size: 2.5vw;
		transition: 0.4s;
	}

	.commentCounterDiv label {
		position: absolute;
		right: 11vw;
	}

	.commentsIcon {
		position: absolute;
		left: 40vw;
		bottom: 0.25vw !important;
		font-size: 7vw !important;
		cursor: pointer;
	}

	.createPostFormDiv {
		width: 60vw;
		height: auto;
		padding: 10vw;
		margin-top: 30vw;
	}

	.createPostContainerForm {
		width: 45vw;
		height: auto;
	}

	.createPostContainerForm label {
		margin-top: 3vw;
		font-size: 3.5vw;
	}

	.createPostContainerForm #inputCreatePost {
		border: none;
		padding: 3vw;
		font-size: 3.5vw;
		border-bottom: 1px solid silver;
	}

	.createPostContainerForm #inputCreatePost:focus {
		border-bottom: 2px solid #2caf67;
		transition: 0.2s;
	}

	.createPostContainerForm button {
		margin-top: 12vw;
		padding: 3vw;
		width: 32vw;
		font-size: 2.4vw;
		text-transform: uppercase;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: 0.4s;
	}

	.createPostContainerForm button:hover {
		transition: 0.4s !important;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
		opacity: 0.8;
	}

	h3 {
		margin: 0;
		margin-left: 2vw;
		margin-top: 2vw;
		padding: 0;
		font-size: 3vw;
		color: #ee4b2b;
	}

	.basicInfoContainer {
		margin-top: 10vw;
		color: #278a8d;
	}

	.basicInfoContainer h2 {
		font-size: 4.5vw;
	}

	.userPostsTitleDiv {
		margin-top: 2vw;
	}

	.userPostsTitleDiv h2 {
		color: #278a8d;
		font-size: 4vw;
	}

	.editCredentialsIcon {
		cursor: pointer !important;
		font-size: 4.5vw !important;
		margin-left: 0.5vw;
		margin-top: -0.5vw !important;
		position: absolute;
	}

	.changePasswordCard {
		width: 60vw;
		height: auto;
		padding: 10vw;
		margin: 0 auto;
		margin-top: 20vw;
	}

	.changePasswordCard h2 {
		color: #33be77;
		margin-top: 2vw;
		font-size: 4vw;
	}

	.changePasswordCardInnerContent {
		margin-top: 1vw;
	}

	.changePasswordInput {
		border: none;
		padding: 3vw;
		font-size: 3vw;
		border-bottom: 1px solid silver;
		outline: none;
		transition: 0.2s;
		margin: 2vw;
		color: #00ca5b;
		width: 30vw;
		text-align: center;
	}

	.changePasswordSubmitButton {
		margin-top: 10vw !important;
		border: none;
		padding: 2.5vw 8vw;
		font-size: 2.7vw;
		text-transform: uppercase;
		margin-top: 2vw;
		cursor: pointer;
		border-radius: 50px;
		font-weight: bold;
		transition: 0.4s;
		border: 1.5px solid #01d661;
		color: #01d661;
		background-color: #fff;
	}

	.changePasswordSubmitButton:hover {
		background: #fff;
		transition: 0.4s;
		background-color: #36c977;
		color: #fff;
		border: none;
		box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
			0 15px 40px rgba(166, 173, 201, .2);
	}

	.changeUsernameDiv {
		margin-bottom: 3vw;
	}

	.changeUsernameInput {
		margin-top: -1vw;
	}

	.postCommentContainer {
		flex-direction: column;
	}

	.rightSide {
		padding-top: 6vw;
	}

	.addCommentContainer h2 {
		color: #33be77;
		font-size: 4vw;
	}

	.commentInput {
		padding: 2vw;
		font-size: 4vw;
		margin-top: 1vw;
		width: 46vw;
	}

	.addCommentButton {
		margin-top: 8vw !important;
		margin-top: 3vw;
		padding: 2.5vw;
		width: 32vw;
		font-size: 2.6vw;
	}

	.commentCard {
		width: 40vw;
		padding: 10vw;
		margin-top: 10vw;
	}

	.commentContent {
		margin-top: -2vw;
		font-size: 4vw;
	}

	.commentFooter {
		color: #278a8d;
		margin-top: 4vw;
		margin-left: -3vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.commentFooter span {
		font-size: 3vw;
	}

	.deleteCommentIcon {
		color: #fff !important;
		cursor: pointer !important;
		font-size: 7vw !important;
		position: absolute;
		margin-top: -27vw;
		background-color: #2caf67;
		padding: 3vw;
		width: 4vw;
		height: 4vw;
		text-align: center;
		margin-left: 43.5vw;
	}

	.deleteCommentIcon span {
		position: relative;
		bottom: 3vw !important;
	}

	.deleteCommentIcon:hover {
		background-color: #06ce60;
		transition: 0.4s;
	}

	.editTitleIcon {
		font-size: 5vw !important;
		position: relative;
		left: 1vw;
		bottom: 4vw;
		display: block !important;
	}

	.editContentIcon {
		display: block !important;
		position: absolute;
		font-size: 5vw !important;
		margin-top: 4vw !important;
		margin-left: 50vw !important;
	}

	.swal2-popup {
		border-radius: 50px !important;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		padding: 12vw !important;
	}

	.swal2-input {
		background: #fff !important;
		padding: 1vw !important;
		border: none !important;
		box-shadow: none !important;
		width: 60vw !important;
		border-bottom: 1px solid silver !important;
		border-radius: 5px !important;
		transition: 0.2s !important;
	}
	
	.swal2-input:focus {
		border: none !important;
		border-bottom: 2px solid #2caf67 !important;
		transition: 0.2s !important;
	}
}
