.App {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

html,
body {
	margin: 0;
	padding: 0;
}

.loginContainer {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(
		109.6deg,
		rgba(96, 221, 142, 1) 11.2%,
		rgba(24, 138, 141, 1) 91.1%
	);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginCard {
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 650px;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.loginCardLeftSide {
	display: flex;
	flex-direction: column;
	width: 65%;
	background-color: #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.headerDiv {
	text-align: center;
	margin-top: 50px;
}

.headerDiv h1 {
	color: #33be77;
	font-weight: 900;
}

.headerDiv hr {
	width: 60px;
	height: 3px;
	border: none;
	background: #33be77;
}

.loginCardRightSide {
	background-image: linear-gradient(
		109.6deg,
		rgba(102, 203, 149, 1) 11.2%,
		rgba(39, 210, 175, 1) 98.7%
	);
	width: 35%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightHeaderDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

.rightHeaderDiv button {
	cursor: pointer;
	margin-top: 20px;
	border-radius: 50px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 15px;
	width: 220px;
	font-size: 20px;
	transition: 0.4s;
}

.rightHeaderDiv button:hover {
	background: #fff;
	transition: 0.4s;
	color: #33be77;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.loginInputsDiv {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputLabel {
	position: relative;
	margin-right: 350px;
	color: #33be77;
	font-weight: bold;
}

.loginInput {
	width: 400px;
	background: #fff;
	padding: 20px;
	border: 1px solid silver;
	margin: 20px;
	font-size: 20px;
	border-radius: 5px;
	transition: 0.2s;
}

.loginInput:focus {
	transition: 0.2s;
	outline: none;
	border: 2px solid #33be77;
	border-radius: 5px !important;
}

.signInButton {
	border: none;
	margin-top: 40px;
	cursor: pointer;
	border-radius: 50px;
	padding: 17px;
	width: 220px;
	font-size: 18px;
	transition: 0.4s;
	color: #fff;
	font-weight: bold;
	background-color: #36c977;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.signInButton:hover {
	transition: 0.4s;
	background-color: #2caf67;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
}

h3 {
	margin: 0;
	margin-left: 120px;
	margin-top: -20px;
	padding: 0;
	color: #ee4b2b;
}

.homePageContainer,
.createPostContainer,
.pageNotFoundContainer,
.profilePageContainer, 
.changePasswordContainer {
	margin: 0;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homePageContainer h1,
.createPostContainer h1,
.pageNotFoundContainer h1,
.profilePageContainer h1, 
.changePasswordContainer h1 {
	margin: 0;
	color: #fff;
	text-align: right;
	margin-right: 70px;
}

.navbar {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: right;
	margin: 0;
	height: 100px;
	width: 100%;
	background-image: linear-gradient(
		109.6deg,
		rgba(96, 221, 142, 1) 11.2%,
		rgba(24, 138, 141, 1) 91.1%
	);
}

.nameAndLogout {
	margin-right: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logoutButton {
	border: none;
	padding: 15px;
	width: 150px;
	cursor: pointer;
	border-radius: 50px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s;
	text-transform: uppercase;
}

.logoutButton:hover {
	transition: 0.4s;
	background: #fff;
	color: #278a8d;
}

.homeAndCreatePost {
	display: flex;
	right: 1000px;
	position: relative;
	align-content: space-between;
	align-items: center;
	justify-content: center;
}

.links {
	text-decoration: none !important;
	color: #fff;
	margin-right: 60px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.4s;
}

.links:hover {
	transition: 0.4s;
	color: teal;
}

.homeIcon {
	color: #fff;
}

.createPostFormDiv {
	width: 700px;
	height: auto;
	padding: 80px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
}

.createPostContainerForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: auto;
}

.createPostContainerForm label {
	margin-top: 50px;
	color: #33be77;
	font-weight: bold;
	font-size: 20px;
}

.createPostContainerForm #inputCreatePost {
	border: none;
	padding: 15px;
	font-size: 20px;
	border-bottom: 1px solid silver;
	outline: none;
	transition: 0.2s;
}

.createPostContainerForm #inputCreatePost:focus {
	border-bottom: 2px solid #2caf67;
	transition: 0.2s;
}

.createPostContainerForm button {
	margin: 0 auto;
	margin-top: 60px;
	border: none;
	padding: 20px;
	width: 200px;
	cursor: pointer;
	border-radius: 50px;
	background-image: radial-gradient(
		circle 862px at 6% 18%,
		rgba(21, 219, 149, 1) 9.4%,
		rgba(26, 35, 160, 1) 83.6%
	);
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
}

.createPostContainerForm button:hover {
	transition: 0.4s !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.185);
	opacity: 0.8;
}

.postDiv {
	width: 500px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(
		109.6deg,
		rgba(102, 203, 149, 1) 11.2%,
		rgba(39, 210, 175, 1) 98.7%
	);
}

.postDiv:hover {
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.514),
		0 15px 40px rgba(148, 155, 180, 0.685);
}

.postTitle {
	flex: 10%;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
}

.postContent {
	font-size: 22px;
	flex: 95%;
	display: grid;
	align-items: center;
	justify-content: center;
}

.postFooter {
	flex: 20%;
	font-size: 20px;
	display: flex;
	position: relative;
	flex-direction: column;	
}

.postDate {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.likeButton {
	position: absolute;
	right: 10px;
	bottom: 5px!important;
	font-size: 50px!important;
	cursor: pointer;
}

.username {
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 10px 20px;
	transition: 0.4s;
}

.username:hover {
	background-color: #fff;
	transition: 0.4s;
	color: #5DCC99;
}

.usernameLink {
	text-decoration: none;
	color: #fff;
}

.pageNotFoundContainer h2 {
	text-align: center;
	margin-top: 50px;
	color: #278a8d;
}

.pageNotFoundLinksDiv {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.pageNotFoundLinksInnerDiv {
	margin: 20px;
}

.pageNotFoundLink {
	text-decoration: none;
	font-size: 1.5vw;
	color: #33be77;
	transition: 0.2s ease-out;
	padding: 10px 30px;
}

.pageNotFoundLink:hover {
	border: 2px solid #2caf67;
	transition: 0.2s ease-out;
	border-radius: 50px;
}

.basicInfoContainer {
	margin-top: 5vw;
	color: #278a8d;
}

.changePasswordButton {
	border: none;
	padding: 1.2vw 3vw;
	font-size: 1vw;
	text-transform: uppercase;
	margin-top: 2vw;
	cursor: pointer;
	border-radius: 50px;
	font-weight: bold;
	transition: 0.4s;
	border: 1.5px solid #01d661;
	color: #01d661;
	background-color: #fff;
}

.changePasswordButton:hover {
	background: #fff;
	transition: 0.4s;
	background-color: #36c977;
	color: #fff;
	border: none;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
}

.changePasswordCard {
	width: 40vw;
	height: auto;
	padding: 5vw;
	margin: 0 auto;
	margin-top: 3vw;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.changePasswordCard h2 {
	color: #33be77;
	margin-top: -1vw;
}

.changePasswordCardInnerContent {
	margin-top: 1vw;
}

.changePasswordInput {
	border: none;
	padding: 1vw;
	font-size: 1.2vw;
	border-bottom: 1px solid silver;
	outline: none;
	transition: 0.2s;
	margin: 1vw;
	color: #00ca5b;
	width: 20vw;
	text-align: center;
}

.changePasswordSubmitButton {
	margin-top: 2.5vw;
	border: none;
	padding: 1vw 3.5vw;
	font-size: 1vw;
	text-transform: uppercase;
	margin-top: 2vw;
	cursor: pointer;
	border-radius: 50px;
	font-weight: bold;
	transition: 0.4s;
	border: 1.5px solid #01d661;
	color: #01d661;
	background-color: #fff;
}

.changePasswordSubmitButton:hover {
	background: #fff;
	transition: 0.4s;
	background-color: #36c977;
	color: #fff;
	border: none;
	box-shadow: 0 5px 10px rgba(159, 165, 190, 0.274),
		0 15px 40px rgba(166, 173, 201, .2);
}

.changeUsernameDiv {
	margin-bottom: 3vw;
}

.changeUsernameInput {
	margin-top: -1vw;
}

.userPostsTitleDiv {
	margin-top: 2vw;
}

.userPostsTitleDiv h2 {
	color: #278a8d;
}